.gameButton {
  width: 350px;
  height: 350px;
  display: block;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 350px;
  font-size: 70px;
  font-family: monospace;
  font-weight: bold;
  color: #FFF;
  text-shadow: black 1px 1px 4px;
}

body {
  background: #000;
  user-select: none;
}

.cancelButton {
  background: #d92828;
  box-shadow: inset #6c0909 -5px -5px 20px 20px;
}

.forgiveButton {
  background: #0fc30f;
  box-shadow: inset #1a4e07 -5px -5px 20px 20px;
}

.outerButton {
    display: block;
    margin: 40px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    box-shadow: #565656 0 0 20px 0px;
}

.buttonSelected {
  box-shadow: #e1ab14 0 0 20px 5px !important;
  transform: scale(1.05);
}

.otherButtonSelected {
  filter: grayscale();
  transform: scale(0.95);
}

.spaceBuffer {
  height: 200px;
}
